body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-image: url("bg/stars.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.menu li {
    margin-left: 10px;
}

.menu li a,
.menuUser li a {
    color: #00ff00;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 0px #00ff00;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li a:hover,
.menuUser li a:hover {
    text-decoration: underline;
}

.menu {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0px 0px 10px #00ff00;
    margin: 20px;
    width: 120px;
}
.menuUser {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0px 0px 10px #00ff00;
    margin: 20px;
    width: 120px;
    height: 50px;
    float: right;
}
.menuTop {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0px 0px 10px #00ff00;
    margin: 20px;
    display: flex;

}
.projectsmenu {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    box-shadow: 0px 0px 10px #00ff00;
    margin: 20px;
    width: 400px;
    height: 250px;
    position: relative;
}
.projectsmenu .bg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    filter: brightness(50%);
  }
h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    text-shadow: 2px 2px #000;
}

p {
    margin: 1px 0;
    line-height: 0px;
    color: white;
}

.btn {
    background-color: #222;
    border: none;
    color: #00ff00;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.5s;
    box-shadow: 0px 0px 10px #00ff00;
    margin: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: #444;
    box-shadow: 0px 0px 20px #00ff00;
}

.time{
    text-align: center;
}

.settings{
    background-color: #222;
    border: none;
    color: #00ff00;
    text-align: right;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    transition: background-color 0.5s;
    box-shadow: 1px 1px 1px #00ff00;
    cursor: pointer;
    float: right;
    margin-right: 5px;
}
.settings:hover{
    box-shadow: 2px 2px 4px #00ff00;
    transform: scale(1.1);
}

.title{
    font-size: 24px;
}

.nev{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    color: white;
    font-size: 24px;
}

.projectsmenuBtn {
    background-color: #222;
    border: none;
    color: #00ff00;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.5s;
    box-shadow: 0px 1px 10px #00ff00;
    margin: 10px;
    cursor: pointer;
    position: absolute;
    top: 100%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.projectsmenuBtn:hover {
    box-shadow: 0px 5px 15px #00ff00;
    background-color: #2b2b2b;
    transition: background-color 0.5s;
}

.projectsmenuSupport {
    cursor: pointer;
    position: absolute;
    top: 90%;
    left: 67%;
    width: 30%;
    height: auto;
    transform: translate(-50%, -50%);
}


.ggr_support {
    width: 100%;
    height: auto;
}

.discord {
    border-radius: 50px;
    cursor: pointer;
    position: absolute;
    top: 88%;
    left: 90%;
    width: 10%;
    height: auto;
    transform: translate(-50%, -50%);
}